<h1>Projects</h1>
<div id="projects">
<ul>
  <% @projects.each do |project|%>
  <li class="project-item">
    <span class="project-date"><%= project.date %></span>
    <br/>
    <div class="project-header">
      <a class="project-title" href="<%= project.github_url %>" target="_blank"><%= project.title %></a>
      <div class="project-links">
      <a class="github-link" href="<%= project.github_url %>" target="_blank">Github</a>
      <% if project.site_url %>
        <span> | </span><a href="<%= project.site_url %>" class="site-link" target="_blank">Live Site</a>
      <% end %>
      </div>
    </div>
    <p><%= project.description %></p>
  </li>
  <% end %>
</ul>
</div>