<h1>Projects</h1>
<div id="projects">
<ul>
  <% @projects.each do |project|%>
  <li class="project-item">
    <div class="project-content">

      <div class="project-header">
        <div class="project-info">
          <a class="project-title" href="<%= project.github_url %>" target="_blank"><%= project.title %></a>
          <div class="project-date"><%= project.date %></div>
        </div>

        <div class="project-links">
          <% if project.site_url %>
            <a href="<%= project.site_url %>" class="site-link" target="_blank">Live Site</a><div class="divider" ></div>
          <% end %>
          <a class="github-link" href="<%= project.github_url %>" target="_blank">Github</a>
        </div>
      </div>


      <p class="project-description"><%= project.description %></p>

      <div class="project-skills">
        <% project.skills.each do |skill| %>
          <div class="project-skill"><%= skill %></div>
        <% end %>
      </div>

    </div>
  </li>
  <% end %>
</ul>
</div>